@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

body {
    font-family: 'Bubblegum Sans', cursive;
    font-size: 16px;
    background-image: url(../image/lin-mei-NYyCqdBOKwc-unsplash.jpg);
    background-size: cover;
    color: white;
}

.cards {
    height: 60vh;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    .choice {
        justify-content: space-between;
        button {
            width: 40%;
            height: 20%;
            font-size: 2em;
            color: white;
            border-radius: 0.2em;
            transition: box-shadow 0.2s;
            text-transform: uppercase;

            
        }
        button:hover {
            box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.137);
        }

    }
    .choice:last-of-type{
        align-items: flex-end;
        
    }
} 